  body{
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "verdana";
    font-size: 0.90em;
  }
  a{
    text-decoration: none;
    color: #B8B8B8;
  }
  a:hover{
    border-top: dashed 1px;
    border-bottom: dashed 1px;
  }
  a:visited{
    border-bottom: dashed 1px;
  }
  .round{
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
  }
  .smallRound{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
  }
  .clickable{
    /*-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;*/
    border-style: dashed;
    border-color: #888;
    border-width: 2px;
  }
  .keyword{
    border-bottom: 1px dashed;
    font-family: serif;
    font-style: italic;
  }#buffer{
    display: none;
    position: absolute;
    left: 1px;
    width: 30%;
    overflow: auto;
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    border: 1px solid black;
  }
  #buffer span{
    padding-left: 5px;
  }
  #board{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index:-1;
  }
  .bttn{
    height: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  table, td, th{
    text-align: center;
  }
  table{
    position: relative;
    top: 0px;
    overflow: auto;
  }
  table#betTable{
    border-spacing:0;
    border-collapse:collapse;
  }
  .imageKey{
    background: #FFF;
  }
  .keyText{
    text-align: left;
  }
  #tutorialBG{
    position: absolute;
    z-index: 0;
  }
  #tutorialWindow{
    padding: 0 1%;
  }
  .tutorial{
    height: 1%;
    width: 1%;
    opacity: 0;
    top: 1%;
    left: 1%;
  }
  .tutorial.one{
    height: 60%;
    width: 45%;
    top: 5%;
    left: 5%;
    opacity: 1;/*
    -moz-transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s, -moz-transform .5s;
    -webkit-transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s, -webkit-transform .5s;
    -o-transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s, -o-transform .5s;
    transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s, transform .5s;*/
    transition-property: width, height, top, left;
    transition-duration: 1s;
  }
  .tutorial.one.two,
  .tutorial.one.two.three.four.five{
    height: 50%;
    width: 40%;
    top: 10%;
    left: 30%;
    transition-property: width, height, top, left;
    transition-duration: 1s;
  }
  .tutorial.one.two.three,
  .tutorial.one.two.three.four,
  .tutorial.one.two.three.four.five.six{
    height: 46%;
    width: 43%;
    top: 25%;
    left: 10%;
    transition-property: width, height, top, left;
    transition-duration: 1s;
  }
/* Modal CSS Properties */
  .modalBG{
    z-index: 2;
    background: #444;
    margin: 0px;
    padding: 1%;
  }
  .modalWindow{
    /* PhoneGap
    position: relative;
    */
    position: absolute;
    background: #222;
    overflow: auto;
    overflow-x: hidden;
    color: #FFF;
    padding: 0px;
    /*margin-bottom: 0.5%;
    /* PhoneGap
    height: calc(100% - 35px);
    height: -webkit-calc(100% - 35px);
    */
    top: 2%;
    left: 2%;
    right: 2%;
    bottom: calc(2% + 35px);
    bottom: -webkit-calc(2% + 35px);
  }
  .modalScreen{
    z-index: 1;
  }
  .modalTop{
    z-index: 3;
  }
  #modalScreen{
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: none;
    background-color: #000;
    opacity: 0.5;
  }
  #drawer{
    position: absolute;
    z-index: 2;
    color: #FFF;
    top: 15%;
    left: 100%;
    height: 70%;
    display: none;
    opacity: 0;
  }
  #drawerButtons{
    position: absolute;
    top: 2%;
    left: 2%;
    bottom: 35px;
    padding: 0;
    margin: 0;
  }
  #drawerWindow{
    position: absolute;
    top: 40px;
  }
  #closeDrawer{
    position: absolute;
    left: 2%;
    bottom: 2%;
  }
  .drawerWindow{
    color: #FFF;
    left: 0;
    padding: 2%;
    overflow: auto;
  }
  #settings input{
    float: right;
  }
  #rules{
    float: left;
    overflow: none;
    display: none;
  }
  .tab{
    height: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid black;
    border-bottom: 0 none;
    margin: 0px 0px;
    padding: 0px 5px;
    background: #666;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    line-height: 30px;
  }
  .tab:hover{
    background: #888;
    color: #000;
  }
  .tab.active{
    border: 1px solid black;
    border-bottom: 0 none;
    background: #222;
    color: #fff;
    text-decoration: underline;
  }
  .insideTab{
    height: 35px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid black;
    border-bottom: 0 none;
    margin: 0px 0px;
    padding: 0px 5px;
    background: #888;
    color: #000;
    display: inline-block;
    cursor: pointer;
    line-height: 35px;
  }
  .insideTab:hover{
    background: #aaa;
    color: #000;
  }
  .insideTab.active{
    border: 1px solid black;
    border-bottom: 0 none;
    border-color: black;
    background: #444;
    color: #fff;
    text-decoration: underline;
  }
  .on{
    display: block;
  }
  .off{
    display: none;
  }
  #rulesWindow{
    background: #444;
    margin: 0;
    padding: 0;
  }
  #closeTutorial{
    position: absolute;
    bottom: 2%;
    float: left;
  }
  #rulesButtons{
    position: absolute;
    top: 1%;
    left: 1%;
    bottom: 35px;
    padding: 0;
    margin: 0;
  }
  #standard{
    position: absolute;
    top: 40px;
    left: 1%;
    right: 1%;
    bottom: 1%;
    background: #444;
    color: #FFF;
    padding: 1%;
    float: left;
    overflow: auto;
  }
  #multi{
    position: absolute;
    top: 40px;
    left: 1%;
    right: 1%;
    bottom: 1%;
    background: #444;
    color: #FFF;
    padding: 1%;
    float: left;
    overflow: auto;
    display: none;
  }
  #single{
    position: absolute;
    top: 40px;
    left: 1%;
    right: 1%;
    bottom: 1%;
    background: #444;
    color: #FFF;
    padding: 1%;
    float: left;
    overflow: auto;
    display: none;
  }
  #fire{
    position: absolute;
    top: 40px;
    left: 1%;
    right: 1%;
    bottom: 1%;
    background: #444;
    color: #FFF;
    padding: 1%;
    float: left;
    overflow: auto;
    display: none;
  }
  #betForm{
    background: #444;
    display: none;
    opacity: 0;
    position: absolute;
    top: 0px;
    height: 194px;
    width: 225px;
    left: 1324px;
    margin: 2px;
    padding: 4px;
    color: #FFF;
  }
  #betInfo{
    margin: 2px;
    padding: 2px;
    width: 10%;
    color: #FFF;
    border: none;
  }
  #create{
    float: left;
  }
  #cancel{
    float: right;
  }
  #betListBG{
    z-index: 2;
    display: none;
    opacity: 0;
    position: absolute;
    left: 100%;
    height: 90%;
    width: 25%;
  }
  #bank{
    margin: 0 auto;
  }
  #betListWindow{
    position: absolute;
    z-index: 2;
    top: 2%;
  }
  #playerArea{
    position: relative;
    width: 100%;
  }
  #singleBetListBG{
    z-index: 2;
    position: absolute;
    left: 15%;
    top: 35%;
    display: none;
    height: 30%;
    width: 70%;
  }
  #closeSingle{
    position: absolute;
    left: 2%;
    bottom: 2%;
  }
  #closeBets{
    position: absolute;
    left: 2%;
    bottom: 2%;
  }
  #betResultsBG{
    z-index: 2;
    position: absolute;
    display: none;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
    background: #444;
    margin: 0px;
    padding: 1%;
  }
  #betResultsWindow{
    position: relative;
    background: #222;
    color: #FFF;
    overflow: hidden;
  }
  #closeBetResults{
    position: relative;
  }
  #winningBets{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    background: #9C9;
    color: #000;
    padding: 2px 0px;
  }
  #losingBets{
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
    background: #C99;
    color: #000;
    padding: 2px 0px;
  }
  #die1, #die2{
    font-family: 'Segoe UI Symbol';
    font-size: 20pt;
  }
  #lastRoll{
    padding: 0 4px;
  }
  #wins{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 4px;
    overflow: auto;
    overflow-x: hidden;
  }
  #losses{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 4px;
    overflow: auto;
    overflow-x: hidden;
  }
  #betListing{
    position: relative;
    left: 0px;
    width: 100%;
    overflow: auto;
    margin-left: 0px;
    padding: 0px;
    float: left;
  }
  #glossaryScreen{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: none;
    opacity: 0;
    z-index: 3;
  }
  #glossary{
    position: absolute;
    background: #444 repeat-y;
    color: #FFF;
    /*
    top: 30%;
    right: 5%;
    width: 19%;
    */
    height: auto;
    padding: 1%;
    display: none;
    border: 1px;
    border-color: #FFFFFF;
  }
  .glossary.one{
    top: 25%;
    left: 16.25%;
    width: 22.5%;
  }
  .glossary.two,
  .glossary.five{
    top: 26.66%;
    left: 35%;
    width: 30%;
  }
  .glossary.three,
  .glossary.four,
  .glossary.six{
    top: 40.33%;
    left: 15%;
    width: 30%;
  }
  #glossaryTerm{
    position: relative;
    color: #000;
    background: #DDD
  }
  #glossaryDefinition{
    position: relative;
    background: #222;
    overflow: auto;
    overflow-x: hidden;
    height: auto;
  }
  