	button{
		height: 30px;
	}
	button#roll{
		width: 75px;
		margin: 0px;
		padding: 0px;
		//float: left;
		top: 150px;
		position: absolute;
		left: 12px;
	}
	button#place{
		width: 75px;
		margin: 0 auto;
		padding: 0px;
		//float: left;
		top: 150px;
		position: absolute;
		left: 112px;
	}
	button#reset{
		width: 75px;
		margin: 0px;
		padding: 0px;
		//float: right;
		top: 150px;
		position: absolute;
		left: 212px;
	}
	#buffer{
		position: absolute;
		top: 200px;
		left: 0px;
		font-family: monospace;
		height: 498px;
		width: 300px;
		border: 1px solid black;
		overflow: auto;
		margin: 0px;
		padding: 0px;
	}
	#buffer span{
		padding-left: 5px;
	}
	#board{
		position: absolute;
		top: 0px;
		left: 300px;
		margin: 0px;
		padding: 0px;
	}
	#betForm{
		display: none;
		opacity: 0;
		position: absolute;
		top: 0px;
		height: 194px;
		width: 225;
		left: 1324px;
		margin: 2px;
		padding: 0px;
		background-color: #FFF;
	}
	#betInfo{
		margin: 2px;
		padding: 2px;
	}
	#betListing{
		position: absolute;
		top: 248px;
		left: 1324px;
		margin: 2px;
		padding: 0px;
	}
	button#create{
		float: left;
	}
	button#cancel{
		float: right;
	}
	#playerArea{
		position: absolute;
		height: 150px;
		width: 300px;
		top: 0px;
		left: 0px;
		margin: 2px;
		padding: 0px;
	}
	#tableInfo{
		position: absolute;
		top: 35px;
		left: 800px;
		font-size: 13pt;
	}
	#playerInfo{
		border-style: none;
	}
	#name{
		position: relative;
		text-align: center;
		top: -10px;
		font-size: 3em;
	}
	#bank{
		position: relative;
		top: -30px;
		text-align: center;
	}
	#availBank{
		position: absolute;
		top: 25px;
		left: -10px;
		width: 100px;
	}
	#inPlay{
		position: absolute;
		top: 25px;
		left: 90px;
		width: 100px;
		float: left;
	}
	#totBank{
		position: absolute;
		top: 25px;
		left: 190px;
		width: 100px;
		float: left;
	}
	.winning{
		color: green;
	}
	.losing{
		color: red;
	}
	#pointWindow{
		position: absolute;
		top: 30px;
		left: 800px;
		font-size: 15pt;
	}
